.main{
  background-color:whitesmoke;
}
.card{
  border: 1px solid lightgray;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: auto;
}
.carousel{
  background-color: white;
  
    margin: auto;
}
.font{
  font-family: 'Cinzel Decorative';
  padding-left: 20px;
}
.mainNav{
  color: #4cbdb9;
  background-color: #4cbdb9;
}
.lastNav{
  background-color:  #0e716e
}
.log{
  border: 1px solid lightgray;
  box-shadow: 0 0 15px rgba(224, 180, 180, 0.3);
  margin: auto;
}
.Nav{
  /*  */
  height: 70px;
  background-color: #0e716e
}
.label1{
  color: antiquewhite;
  text-decoration: none;
 text-decoration-color: whitesmoke;
 
}
.head{
  align-content: center;
  color: #4cbdb9;
  text-align: center;
}
@media screen and (max-width:700px){
  .Modal{
margin-left: 70px;
    width: 500px;
  }
.log{
  
align-content: flex-start;
  border: 1px solid lightgray;
  box-shadow: 0 0 15px rgba(224, 180, 180, 0.3);
}
.main{
  width: 650px;
}
.mainNav{
  width:680px
}
.main0{
  width:650px
}
.cont{
  width:650px
}
.table{
  width:650px
}
}
@media screen and (max-width:500px){
  .head{
    font-weight: 10;
    margin-right:5%;
    align-content: center;
    text-align: center;
    
  }
  
  
}

